<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MindtekTestNGFramework">
    <test name="UI Automation">
        <groups>
         <run>
             <include name="regression"/>
 <!--            <exclude name="smoke"/>-->
         </run>
        </groups>
        <classes>
            <class name="tests.FrameworkTest"/>
            <class name="tests.BlazedemoTests"/>
            <class name="tests.SauceDemoTests"/>
        </classes>
    </test>
</suite>
